<div class="card">
    <div class="card-divider">
        <h5>{{ article.pk }} - {{ article.title|safe }}</h5>
    </div>
    <div class="card-section">
        Article has been transported via FTP.
    </div>
    <div class="card-divider">
        {% include "elements/avatar.html" with user=article.correspondence_author role="Author" %}

        {% for assignment in article.editors %}
            {% include "elements/avatar.html" with user=assignment.editor role=assignment.editor_type %}
        {% endfor %}

    </div>
</div>